# MiniFS VS Project
MiniFS/.vs/*
MiniFS/Debug/*
MiniFS/Release/*
MiniFS/x64/*
MiniFS/MiniFS/Debug/*
MiniFS/MiniFS/Release/*
MiniFS/MiniFS/x64/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
